<div class="container">
    <mat-card>
        <form action="" (ngSubmit)="login()" autocomplete="off" [formGroup]="formGroup">
            <!-- Correo -->
            <mat-form-field appearance="fill">
               <mat-label>Email</mat-label>
               <input matInput type="email" formControlName="email">
               <mat-error>
                   Set a valid email
               </mat-error>                   
           </mat-form-field>
           <!-- Password -->
           <mat-form-field appearance="fill">
               <mat-label>Enter your password</mat-label>
               <input matInput type="password" formControlName="password">
               <mat-error>
                    This field is required
               </mat-error>               
            </mat-form-field>
            <!-- Not registered yet-->
            <a  [routerLink]="[ '/auth/register' ]">I don't have an account</a>
            <button mat-raised-button color="primary" [disabled]="isValidForm()">Login</button>
            <div class="auth__social-networks">                
                <p>Or Sing in with Google</p>
                <div class="google-btn">
                    <div class="google-icon-wrapper">
                    <img
                        class="google-icon"
                        src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
                        alt="google button"
                    />
                    </div>
                    <p class="btn-text">
                    <b>Sign in with google</b>
                    </p>
                </div>
              </div>
       </form>
    </mat-card>
</div>