<div class="container">
    <mat-card>
        <form action="" autocomplete="off" [formGroup]="form" (ngSubmit)="register()">
            <!-- Email -->
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" type="text">
                <mat-error>
                    Set a valid username (at leat 8 characteres)
                </mat-error>
            </mat-form-field>
            <!-- Correo -->
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email">
                <mat-error>
                    Set a valid email                   
                </mat-error>
            </mat-form-field>            
            <!-- password -->
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password">                
                <mat-error>
                   set a valid password (at least 8 characteres)
                </mat-error>
            </mat-form-field>
            <!-- Geneder -->
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="F">Famle</mat-radio-button>
                <mat-radio-button value="M">Male</mat-radio-button>
                <mat-radio-button value="O">Other</mat-radio-button>
            </mat-radio-group>

            <!-- register button -->
            <button [disabled]="isValidForm()" mat-raised-button color="primary">Register</button>
            <!-- Already registered -->
            <a [routerLink]="[ '/auth/login' ]">I have an account</a>
            <!-- Registe gwith google -->
            <div class="auth__social-networks">
                <p>Or Sing up with Google</p>
                <div class="google-btn">
                    <div class="google-icon-wrapper">
                        <img class="google-icon"
                            src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
                            alt="google button" />
                    </div>
                    <p class="btn-text">
                        <b>Sign up with google</b>
                    </p>
                </div>
            </div>
        </form>
    </mat-card>
</div>