<div class="container-home">
    <div class="information">
      <!-- Daily sales -->
      <mat-card>
        <app-dailysales></app-dailysales>
        <mat-card-actions>
          <button mat-button>DETAILS</button>
          <button mat-button>CLOSE BOX</button>
        </mat-card-actions>
      </mat-card>
      <!-- Stok status -->
      <mat-card>
        Simple card
        <mat-card-actions>
          <button mat-button>DETAILS</button>          
        </mat-card-actions>
      </mat-card>
      <mat-card>Simple card</mat-card>
    </div>
    <div class="charts">
      <mat-card>
        <app-monthlysales></app-monthlysales>
      </mat-card>
      <mat-card>
        <app-annualsales></app-annualsales>
      </mat-card>
    </div>
</div>