<div class="container-home">
    <div class="information">
      <!-- Daily sales -->
      <div>
        <h4>Daily sales</h4>
        <app-dailysales></app-dailysales>
      </div>
      
      <!-- Stok status -->
      <div>
        <h4>Stock status</h4>
        <app-stockstatus></app-stockstatus>      
      </div>
      
      <div>
        <h4>Events/Task for today</h4>        
        <app-events></app-events>
      </div>
    </div>
    <div class="charts">
      <mat-card>
        <app-monthlysales></app-monthlysales>
      </mat-card>
      <mat-card>
        <app-annualsales></app-annualsales>
      </mat-card>
    </div>
</div>