:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
#container{
    width: 100%;
    height: 100%;
    background-color: rgb(39, 39, 49);

    #sidebar{
        justify-content: center;
        width: 250px;
        height: 100%;
        a, button {
            width: 90%;
            display: flex;
            justify-content: center;
            margin: auto;
            margin-top: 10px;
        }       
    }
}

#main-render{
    padding: 20px;
}