<mat-toolbar color="primary" class="example-toolbar">  
  <h1 class="example-app-name">Store Manager</h1>
</mat-toolbar>
<mat-drawer-container id="container" class="example-container">
  <mat-drawer id="sidebar" mode="side" [opened]="true">
    <mat-selection-list  [multiple]="false">
      <mat-list-option>
        Productos        
      </mat-list-option>
      <mat-list-option>
        Almacen       
      </mat-list-option>        
      <mat-list-option>
        Reportes        
      </mat-list-option>
      <mat-list-option>
        Adminstración      
      </mat-list-option>
    </mat-selection-list>
    <button class="btn-logout" mat-raised-button color="primary">Cerrar sesión</button> 
  </mat-drawer>
  <mat-drawer-content id="main-render">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>