<div class="mat-elevation-z8">
    <div fxLayout="row" fxFlex>
        <h4>Daily sales</h4>
        <mat-chip-list fxFlex fxLayout="row" fxLayoutAlign="flex-end"  aria-label="Fish selection">        
            <mat-chip color="primary" selected>234 sold artilces</mat-chip>               
        </mat-chip-list>
    </div>
    <div fxLayout="row" fxFlex>
        <h4>Eranings</h4>
        <mat-chip-list fxFlex fxLayout="row" fxLayoutAlign="flex-end" aria-label="Fish selection">        
            <mat-chip color="primary" selected>$ 4,566,00</mat-chip>               
        </mat-chip-list>
    </div>
</div>